##############################################################
# FHEM main configuration
# KNX home automation via knxd / TPUART
##############################################################

# Global settings
attr global userattr cmdIcon devStateIcon devStateStyle icon sortby webCmd widgetOverride
attr global autoload_undefined_devices 1
attr global latitude 49.0080
attr global longitude 8.4037
attr global logfile ./log/fhem-%Y-%m.log
attr global modpath .
attr global statefile ./log/fhem.save
attr global updateInBackground 1
attr global verbose 3

##############################################################
# Interfaces
##############################################################

define telnetPort telnet 7072 global

define WEB FHEMWEB 8086 global
attr WEB stylesheetPrefix bright
attr WEB CssFiles pgm2/mystyle.css

define WEBphone FHEMWEB 8084 global
attr WEBphone stylesheetPrefix bright
attr WEBphone CssFiles pgm2/mystyle.css

define WEBtablet FHEMWEB 8085 global
attr WEBtablet stylesheetPrefix touchpad
attr WEBtablet CssFiles pgm2/mystyle.css

##############################################################
# Logging
##############################################################

define Logfile FileLog ./log/fhem-%Y-%m.log fakelog
define eventTypes eventTypes ./log/eventTypes.txt

##############################################################
# KNX bus connection via knxd
# Address 1.1.251 must match knxd -e flag
##############################################################

define tul KNXIO S /run/knx 0.0.0

##############################################################
# Device and scene configuration
##############################################################

include device_config.cfg
include scene_config.cfg
